<div class="container-full">
<div id="myHealth" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#myHealth" data-slide-to="0" class="active"></li>
      <li data-target="#myHealth" data-slide-to="1"></li>
      <li data-target="#myHealth" data-slide-to="2"></li>
      <li data-target="#myHealth" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">

      <div class="item active" ng-control="AboutController">
        <img ng-src="{{SliderIMG0}}" width="100%" height="300">
        <div class="carousel-caption" ng-repeat="i in info" style="font-family: 'Pacifico', cursive;">	
				<h1>{{ i.results[0].name }} </h1>
				<span class="_innerDesc">
					<h3>{{ i.results[0].description }}</h3>
				</span>
        </div>
      </div>

      <div class="item">
        <img ng-src="{{SliderIMG1}}" width="100%" height="300" style="width:100%">
        <div class="carousel-caption" ng-repeat="i in info" style="font-family: 'Pacifico', cursive;">	
				<h1>{{ i.results[1].name }} </h1>
				<span class="_innerDesc">
					<h3>{{ i.results[1].description }}</h3>
				</span>
        </div>
      </div>
    
      <div class="item">
        <img ng-src="{{SliderIMG2}}" width="100%" height="300">
        <div class="carousel-caption" ng-repeat="i in info"  style="font-family: 'Pacifico', cursive; color:#000;">	
				<h1>{{ i.results[2].name }}</h1>
				<span class="_innerDesc">
					<h3>{{ i.results[2].description }}</h3>
				</span>
        </div>
      </div>

      <div class="item">
        <img ng-src="{{SliderIMG3}}" width="100%" height="300" style="width:100%">
        <div class="carousel-caption" ng-repeat="i in info"  style="font-family: 'Pacifico', cursive;color:#000;">	
				<h1>{{ i.results[3].name }} </h1>
				<span class="_innerDesc">
					<h3>{{ i.results[3].description }}</h3>
				</span>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myHealth" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myHealth" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="column-12">
<h4>List Of Resources</h4>
	<div class="column-6">
		<div ng-repeat="i in info" class="_outterBox">
			<span class="_innerBox">
				{{ i.results[0].id }} 	
				{{ i.results[0].name }} 
				<span class="_innerDesc">
					{{ i.results[0].description }}
				</span>
			</span>

			<span class="_innerBox">
				{{ i.results[1].id }} 
				{{ i.results[1].name }} 
				<span class="_innerDesc">	
					{{ i.results[1].description }}
				</span>
			</span>
			
			<span class="_innerBox">
				{{ i.results[2].id }} 
				{{ i.results[2].name }} 
				<span class="_innerDesc">
					{{ i.results[2].description }}
				</span>
			</span>
			
			<span class="_innerBox">
				{{ i.results[3].id }} 
				{{ i.results[3].name }}
				<span class="_innerDesc">
					{{ i.results[3].description }}
				</span>
			</span>
			
			<span class="_innerBox">
				{{ i.results[4].id }} 
				{{ i.results[4].name }}
				<span class="_innerDesc">
					{{ i.results[4].description }}
				</span>
			</span>

		</div>
	</div>


		<div class="column-6">
		<div ng-repeat="i in info" class="_outterBox">
			<span class="_innerBox">
				{{ i.results[5].id }} 	
				{{ i.results[5].name }} 
				<span class="_innerDesc">
					{{ i.results[5].description }}
				</span>
			</span>

			<span class="_innerBox">
				{{ i.results[6].id }} 
				{{ i.results[6].name }} 
				<span class="_innerDesc">	
					{{ i.results[6].description }}
				</span>
			</span>
			
			<span class="_innerBox">
				{{ i.results[7].id }} 
				{{ i.results[7].name }} 
				<span class="_innerDesc">
					{{ i.results[7].description }}
				</span>
			</span>
			
			<span class="_innerBox">
				{{ i.results[8].id }} 
				{{ i.results[8].name }}
				<span class="_innerDesc">
					{{ i.results[8].description }}
				</span>
			</span>
			
			<span class="_innerBox">
				{{ i.results[9].id }} 
				{{ i.results[9].name }}
				<span class="_innerDesc">
					{{ i.results[9].description }}
				</span>
			</span>

		</div>
	</div>
</div>